* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /*DO NOT REMOVE THIS*/
    background: linear-gradient(#e990d4, #ecbaec);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vw;
}

#logo {
    align-self: flex-start;
    width: 200px;
}

.screen {
    display: flex;
    flex-direction: row;
    position: relative
}

#date {
    width: 200px;
}

h2 {
    justify-content: flex-end;
    display: inline-block;
    position: absolute;
    z-index: 1;
    word-wrap: break-word;
}

#bubble {
    justify-content: flex-end;
    order: 2;
    width: 40%;
    position: relative;
    z-index: 0;
}

h3 {
    align-self: center;
    color: white;
}

/* #playerProgress {
    width: 20%;
    background-color: grey;
    transform: rotate(-90deg);
  }
  
  #progressBar {
    width: 10%;
    height: 30px;
    background-color: rgb(178, 5, 103);
  } */

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#cb72cb;
    color: white;
    border-color: #ecbaec;
    border-radius: 25%;
    padding: 10px;
}

#reset {
    background: none;
    border: none;
    color: white;
}